In [1]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/h3qoydse5gqmd3v2rwqyukrptfr63c')

In [13]:
import numpy as np

In [ ]:
groupby = df.groupby("Agency Number")
groupby

In [11]:
df.shape

(3213, 22)

In [12]:
df.columns

Index(['Publication Date', 'Fiscal Year', 'Fundind Source Name', 'FPS Group',
       'FPS Group Name', 'Agency Number', 'Agency Name', 'Revenue Category',
       'Revenue Category Name', 'Revenue Class Code', 'Revenue Class Name',
       'Budget Code', 'Revenue Source', 'Revenue Source Name',
       'Revenue Structure Description', 'Adopted Budget Amount',
       'Current Modified Budget Amount', 'Yr1_FY', 'Year 1 Revenue Amount',
       'Year 2 Revenue Amount', 'Year 3 Revenue Amount',
       'Year 4 Revenue Amount'],
      dtype='object')

In [7]:
dat = df[['Agency Name','Yr1_FY','Year 1 Revenue Amount',
       'Year 2 Revenue Amount', 'Year 3 Revenue Amount',
       'Year 4 Revenue Amount']].copy() 
dat

,Agency Name,Yr1_FY,Year 1 Revenue Amount,Year 2 Revenue Amount,Year 3 Revenue Amount,Year 4 Revenue Amount
0,Mayoralty,2017,10364353000,10959257000,11607958000,12151245000
1,Mayoralty,2017,1823017000,1927657000,2041759000,2137319000
2,Mayoralty,2017,9991423000,10564922000,11190281000,11714020000
3,Mayoralty,2017,1866204000,1973323000,2090128000,2187952000
4,Mayoralty,2017,-400000000,-400000000,-400000000,-400000000
...,...,...,...,...,...,...
3208,Police Department,2018,2042200,0,0,0
3209,Police Department,2018,10252142,10252142,10252142,10252142
3210,Police Department,2018,136074,0,0,0
3211,Police Department,2018,5000,4000,4000,4000
3212,Police Department,2018,183235,0,0,0

In [23]:
dat['Agency Name'].value_counts()

Department of Health and Mental Hygiene      403
Housing Preservation and Development         273
Department of Parks and Recreation           233
Mayoralty                                    178
Police Department                            175
                                            ...
Borough President - Staten Island              2
Campaign Finance Board                         2
Queens Community Board # 3                     2
Office of Prosecution - Special Narcotics      2
Manhattan Community Board # 10                 1
Name: Agency Name, Length: 78, dtype: int64

In [21]:
dat = dat[dat['Yr1_FY'] == 2017]

In [24]:
dat = dat.dat['Yr1_FY'] == unique()

AttributeError: 'DataFrame' object has no attribute 'dat'

In [33]:
company  = dat['Agency Name'].unique()
type(company)

numpy.ndarray

In [40]:
dat.reset_index()

,index,Agency Name,Yr1_FY,Year 1 Revenue Amount,Year 2 Revenue Amount,Year 3 Revenue Amount,Year 4 Revenue Amount
0,0,Mayoralty,2017,10364353000,10959257000,11607958000,12151245000
1,1,Mayoralty,2017,1823017000,1927657000,2041759000,2137319000
2,2,Mayoralty,2017,9991423000,10564922000,11190281000,11714020000
3,3,Mayoralty,2017,1866204000,1973323000,2090128000,2187952000
4,4,Mayoralty,2017,-400000000,-400000000,-400000000,-400000000
...,...,...,...,...,...,...,...
1593,1595,District Attorney - Queens County,2017,266400,0,0,0
1594,1596,District Attorney -Richmond County,2017,130700,130700,130700,130700
1595,1597,District Attorney -Richmond County,2017,50000,0,0,0
1596,1598,District Attorney -Richmond County,2017,7974,7974,7974,7974
1597,1599,Office of Prosecution - Special Narcotics,2017,1127000,1127000,1127000,1127000

In [119]:
work_data = dat.sample(20)
work_data

,Agency Name,Yr1_FY,Year 1 Revenue Amount,Year 2 Revenue Amount,Year 3 Revenue Amount,Year 4 Revenue Amount
54,Department of Health and Mental Hygiene,2017,8816000,8816000,8816000,8816000
782,Department of Environmental Protection,2017,7260916,7326234,7326501,7326501
473,Department of Health and Mental Hygiene,2017,55000,0,0,0
740,Department of Citywide Administrative Services,2017,75608931,75608931,75608931,75608931
82,Department of Consumer Affairs,2017,50000,50000,50000,50000
942,Police Department,2017,969692,0,0,0
326,Department of Sanitation,2017,5000,5000,5000,5000
748,Department of Information Technology and Telec...,2017,2602,2602,2602,2602
1211,Department of Health and Mental Hygiene,2017,64070,90389,90389,90389
1054,Housing Preservation and Development,2017,139560,139560,139560,139560
217,Public Administrator-New York County,2017,60000,60000,60000,60000
1345,Department of Social Services,2017,42502703,44114966,44271342,44395879
1016,Department of Small Business Services,2017,3289309,3289309,3289309,3289309
1503,Miscellaneous,2017,884982,758000,150000,0
402,Police Department,2017,377795,377795,377795,377795
971,Fire Department,2017,24780296,0,0,0
1087,Housing Preservation and Development,2017,894552,894552,894552,894552
615,Miscellaneous,2017,113807676,76837200,78867000,78867000
427,Department of Cultural Affairs,2017,116314,0,0,0
1523,Department of Small Business Services,2017,28000,15000,0,0

In [35]:
df_filter = dat['Agency Name'].isin(company)
df_filter

0       True
1       True
2       True
3       True
4       True
        ...
1595    True
1596    True
1597    True
1598    True
1599    True
Name: Agency Name, Length: 1598, dtype: bool

In [120]:
work_data.drop(['Yr1_FY'],axis='columns', inplace=True)
work_data

,Agency Name,Year 1 Revenue Amount,Year 2 Revenue Amount,Year 3 Revenue Amount,Year 4 Revenue Amount
54,Department of Health and Mental Hygiene,8816000,8816000,8816000,8816000
782,Department of Environmental Protection,7260916,7326234,7326501,7326501
473,Department of Health and Mental Hygiene,55000,0,0,0
740,Department of Citywide Administrative Services,75608931,75608931,75608931,75608931
82,Department of Consumer Affairs,50000,50000,50000,50000
942,Police Department,969692,0,0,0
326,Department of Sanitation,5000,5000,5000,5000
748,Department of Information Technology and Telec...,2602,2602,2602,2602
1211,Department of Health and Mental Hygiene,64070,90389,90389,90389
1054,Housing Preservation and Development,139560,139560,139560,139560
217,Public Administrator-New York County,60000,60000,60000,60000
1345,Department of Social Services,42502703,44114966,44271342,44395879
1016,Department of Small Business Services,3289309,3289309,3289309,3289309
1503,Miscellaneous,884982,758000,150000,0
402,Police Department,377795,377795,377795,377795
971,Fire Department,24780296,0,0,0
1087,Housing Preservation and Development,894552,894552,894552,894552
615,Miscellaneous,113807676,76837200,78867000,78867000
427,Department of Cultural Affairs,116314,0,0,0
1523,Department of Small Business Services,28000,15000,0,0

In [121]:
from collections import OrderedDict, defaultdict, ChainMap

In [122]:
test_dict = work_data.to_dict('index', into=OrderedDict)
test_dict

OrderedDict([(54,
              {'Agency Name': 'Department of Health and Mental Hygiene',
               'Year 1 Revenue Amount': 8816000,
               'Year 2 Revenue Amount': 8816000,
               'Year 3 Revenue Amount': 8816000,
               'Year 4 Revenue Amount': 8816000}),
             (782,
              {'Agency Name': 'Department of Environmental Protection',
               'Year 1 Revenue Amount': 7260916,
               'Year 2 Revenue Amount': 7326234,
               'Year 3 Revenue Amount': 7326501,
               'Year 4 Revenue Amount': 7326501}),
             (473,
              {'Agency Name': 'Department of Health and Mental Hygiene',
               'Year 1 Revenue Amount': 55000,
               'Year 2 Revenue Amount': 0,
               'Year 3 Revenue Amount': 0,
               'Year 4 Revenue Amount': 0}),
             (740,
              {'Agency Name': 'Department of Citywide Administrative Services',
               'Year 1 Revenue Amount': 75608931,
               'Year 2 Revenue Amount': 75608931,
               'Year 3 Revenue Amount': 75608931,
               'Year 4 Revenue Amount': 75608931}),
             (82,
              {'Agency Name': 'Department of Consumer Affairs',
               'Year 1 Revenue Amount': 50000,
               'Year 2 Revenue Amount': 50000,
               'Year 3 Revenue Amount': 50000,
               'Year 4 Revenue Amount': 50000}),
             (942,
              {'Agency Name': 'Police Department',
               'Year 1 Revenue Amount': 969692,
               'Year 2 Revenue Amount': 0,
               'Year 3 Revenue Amount': 0,
               'Year 4 Revenue Amount': 0}),
             (326,
              {'Agency Name': 'Department of Sanitation',
               'Year 1 Revenue Amount': 5000,
               'Year 2 Revenue Amount': 5000,
               'Year 3 Revenue Amount': 5000,
               'Year 4 Revenue Amount': 5000}),
             (748,
              {'Agency Name': 'Department of Information Technology and Telecommunications',
               'Year 1 Revenue Amount': 2602,
               'Year 2 Revenue Amount': 2602,
               'Year 3 Revenue Amount': 2602,
               'Year 4 Revenue Amount': 2602}),
             (1211,
              {'Agency Name': 'Department of Health and Mental Hygiene',
               'Year 1 Revenue Amount': 64070,
               'Year 2 Revenue Amount': 90389,
               'Year 3 Revenue Amount': 90389,
               'Year 4 Revenue Amount': 90389}),
             (1054,
              {'Agency Name': 'Housing Preservation and Development',
               'Year 1 Revenue Amount': 139560,
               'Year 2 Revenue Amount': 139560,
               'Year 3 Revenue Amount': 139560,
               'Year 4 Revenue Amount': 139560}),
             (217,
              {'Agency Name': 'Public Administrator-New York County',
               'Year 1 Revenue Amount': 60000,
               'Year 2 Revenue Amount': 60000,
               'Year 3 Revenue Amount': 60000,
               'Year 4 Revenue Amount': 60000}),
             (1345,
              {'Agency Name': 'Department of Social Services',
               'Year 1 Revenue Amount': 42502703,
               'Year 2 Revenue Amount': 44114966,
               'Year 3 Revenue Amount': 44271342,
               'Year 4 Revenue Amount': 44395879}),
             (1016,
              {'Agency Name': 'Department of Small Business Services',
               'Year 1 Revenue Amount': 3289309,
               'Year 2 Revenue Amount': 3289309,
               'Year 3 Revenue Amount': 3289309,
               'Year 4 Revenue Amount': 3289309}),
             (1503,
              {'Agency Name': 'Miscellaneous',
               'Year 1 Revenue Amount': 884982,
               'Year 2 Revenue Amount': 758000,
               'Year 3 Revenue Amount': 150000,
               'Year 4 Revenue Amount': 0}),
             (402,
              {'Agency Name': 'Police Department',
               'Year 1 Revenue Amount': 377795,
               'Year 2 Revenue Amount': 377795,
               'Year 3 Revenue Amount': 377795,
               'Year 4 Revenue Amount': 377795}),
             (971,
              {'Agency Name': 'Fire Department',
               'Year 1 Revenue Amount': 24780296,
               'Year 2 Revenue Amount': 0,
               'Year 3 Revenue Amount': 0,
               'Year 4 Revenue Amount': 0}),
             (1087,
              {'Agency Name': 'Housing Preservation and Development',
               'Year 1 Revenue Amount': 894552,
               'Year 2 Revenue Amount': 894552,
               'Year 3 Revenue Amount': 894552,
               'Year 4 Revenue Amount': 894552}),
             (615,
              {'Agency Name': 'Miscellaneous',
               'Year 1 Revenue Amount': 113807676,
               'Year 2 Revenue Amount': 76837200,
               'Year 3 Revenue Amount': 78867000,
               'Year 4 Revenue Amount': 78867000}),
             (427,
              {'Agency Name': 'Department of Cultural Affairs',
               'Year 1 Revenue Amount': 116314,
               'Year 2 Revenue Amount': 0,
               'Year 3 Revenue Amount': 0,
               'Year 4 Revenue Amount': 0}),
             (1523,
              {'Agency Name': 'Department of Small Business Services',
               'Year 1 Revenue Amount': 28000,
               'Year 2 Revenue Amount': 15000,
               'Year 3 Revenue Amount': 0,
               'Year 4 Revenue Amount': 0})])

In [81]:
test_dict[1331]['Agency Name']

"Administration for Children's Services"

In [115]:
tes2 = ChainMap(test_dict)
(tes2[1331]['Year 2 Revenue Amount'] + 
tes2[1331]['Year 1 Revenue Amount'])

55794450

In [125]:
for i in test_dict.keys():
    print(test_dict[i]['Agency Name'])

Department of Health and Mental Hygiene
Department of Environmental Protection
Department of Health and Mental Hygiene
Department of Citywide Administrative Services
Department of Consumer Affairs
Police Department
Department of Sanitation
Department of Information Technology and Telecommunications
Department of Health and Mental Hygiene
Housing Preservation and Development
Public Administrator-New York County
Department of Social Services
Department of Small Business Services
Miscellaneous
Police Department
Fire Department
Housing Preservation and Development
Miscellaneous
Department of Cultural Affairs
Department of Small Business Services

In [142]:
d = []
for i in test_dict:
    a = str([test_dict[i]['Agency Name']])
    d.append(a)
new_d = defaultdict(int)
for i in d:
    print(i)

['Department of Health and Mental Hygiene']
['Department of Environmental Protection']
['Department of Health and Mental Hygiene']
['Department of Citywide Administrative Services']
['Department of Consumer Affairs']
['Police Department']
['Department of Sanitation']
['Department of Information Technology and Telecommunications']
['Department of Health and Mental Hygiene']
['Housing Preservation and Development']
['Public Administrator-New York County']
['Department of Social Services']
['Department of Small Business Services']
['Miscellaneous']
['Police Department']
['Fire Department']
['Housing Preservation and Development']
['Miscellaneous']
['Department of Cultural Affairs']
['Department of Small Business Services']

In [116]:
mean = []
for i in test_dict.keys():
    mean_ = (test_dict[i]['Year 1 Revenue Amount'] + 
    test_dict[i]['Year 2 Revenue Amount'] +
    test_dict[i]['Year 3 Revenue Amount'] +
    test_dict[i]['Year 4 Revenue Amount'] // 4)
    mean.append(mean_)
mean

[90665981,
 25025000,
 73397158,
 250000,
 404924,
 150000,
 76155,
 350867,
 90019,
 2655250,
 267445,
 84914,
 6500000,
 5401500,
 596846,
 311879298,
 75516677,
 4144982,
 49151,
 2718447]

In [140]:
d

[['Department of Health and Mental Hygiene'],
 ['Department of Environmental Protection'],
 ['Department of Health and Mental Hygiene'],
 ['Department of Citywide Administrative Services'],
 ['Department of Consumer Affairs'],
 ['Police Department'],
 ['Department of Sanitation'],
 ['Department of Information Technology and Telecommunications'],
 ['Department of Health and Mental Hygiene'],
 ['Housing Preservation and Development'],
 ['Public Administrator-New York County'],
 ['Department of Social Services'],
 ['Department of Small Business Services'],
 ['Miscellaneous'],
 ['Police Department'],
 ['Fire Department'],
 ['Housing Preservation and Development'],
 ['Miscellaneous'],
 ['Department of Cultural Affairs'],
 ['Department of Small Business Services']]

In [143]:
final = dict(zip(d, mean))
final

{"['Department of Health and Mental Hygiene']": 90019,
 "['Department of Environmental Protection']": 25025000,
 "['Department of Citywide Administrative Services']": 250000,
 "['Department of Consumer Affairs']": 404924,
 "['Police Department']": 596846,
 "['Department of Sanitation']": 76155,
 "['Department of Information Technology and Telecommunications']": 350867,
 "['Housing Preservation and Development']": 75516677,
 "['Public Administrator-New York County']": 267445,
 "['Department of Social Services']": 84914,
 "['Department of Small Business Services']": 2718447,
 "['Miscellaneous']": 4144982,
 "['Fire Department']": 311879298,
 "['Department of Cultural Affairs']": 49151}